.grid {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    padding: 0;
    border: none;
    margin: auto;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightgray;
}

.newGrid {
    text-align: center;
}